# 下記の変数をユーザごとに上書きしたい場合は $BONITO_HOME_DIR/bonito.conf をユーザごとに作成する．

# BONITO_DIR: NFSなどで共有された(他のmember nodeから見える)ディレクトリを指定．
# defaultの設定では，ここにユーザのdocker image内で使われるhomeディレクトリの本体が置かれる．
BONITO_DIR="/share/bonito"
BONITO_HOME_DIR=$BONITO_DIR/volume/home

# 仮想環境がマウントするディレクトリの名前
# (仮想環境内で同名のディレクトリとしてマウントされる)
# ディレクトリ名の後ろに:roをつけるとread onlyでマウントされます．
# e.g.) BONITO_MOUNTS="/NAS1:ro /NAS2:ro /NAS3:ro /NAS4:ro /NAS5:ro"
BONITO_MOUNTS="/tmp /dev/shm"

# docker registryを運用するサーバのIPアドレス
# ノードが一つの場合はlocalhostでOK，
# ノードが複数の場合は/etc/hostsで参照できる名前かIPアドレスを指定
#BONITO_REGIS_SERVER=localhost
BONITO_REGIS_SERVER=
# docker registryが使うport. 他のシステムと競合しない限り，変更の必要なし．
BONITO_REGIS_PORT=5000

#BONITO_COMMON_RUNOPT="--runtime=nvidia"
BONITO_COMMON_RUNOPT=""

# create時にbase_imageを指定しない場合に使われるdefaultのイメージ
BONITO_DEFAULT_IMAGE="nvidia/cuda:10.1-cudnn7-runtime-ubuntu18.04"
